body{
    margin:0px;
    padding: 0px;
}
.header{
    display: flex;
    justify-content:space-between;
    background-color: aqua;
    border:1px solid black;
}
.nav-items ul{
    display: flex;
    list-style-type:none;
    justify-content: center;
    align-items: center;
}
.nav-items ul li{
    padding: 10px;
    margin: 10px;
    font-size: 1.2rem;
    font-weight: bolder;
}
.logo{
    padding: 0px;
    margin: 0px;
    height:100px;
    width:150px;
}
.res-card {
    border: 1px solid black;
    width: 240px;
    padding: 10px;
    box-sizing: border-box; /* makes padding count within the width */
    background-color: #f8f8f8; /* optional for better visual */
    border-radius: 8px;        /* optional rounded corners */
    margin:6px;
    background-color: antiquewhite;
}

.res-card img{
    height:150px;
    width:200px;
}
.res-container{
    display:flex;
    flex-wrap: wrap;
}
.filter-btn{
    padding: 10px;
    margin:5px;
    background-color:chartreuse;
}